<table>
  <thead>
    <tr>
      <td>interval</td>
      <td>task</td>
      <td>job</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job[:interval] %></td>
        <td><%= job[:job].options[:task] %></td>
        <td><%= job[:job].template %></td>
      </tr>
    <% end %>
  </tbody>
</table>
